@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

:root {
  --backgroundColor: f1efe2;
  --textColor: F0EFE9;
  --activeColor: C0B67E;
  --hamburgerColor: C6C5BC;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
